certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
googleapis-common-protos==1.62.0
grpcio==1.62.1
idna==3.6
iniconfig==2.0.0
packaging==23.1
pluggy==1.2.0
protobuf==4.25.3
pycparser==2.21
PyJWT==2.8.0
pytest==7.4.0
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
urllib3==2.2.1
yandexcloud==0.263.0
